.nav {
  background-color: black;
  font-family: monospace;
  font-weight: bold;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home {
  text-decoration: none;
  color: aquamarine;
  font-size: 2rem;
}
